// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$black-color: #000;
$background-color: #ffb833;
$white-color: #fff;

#div#message {
  background-color: $background-color;
  color: $black-color;
  margin: 20px 0;
  padding: 5px 20px;
}

#messages-card {
  margin: 30px 0 0 10%;
  margin-left: 10%;
  text-align: center;
  width: 80%;
}

#new-message-btn {
  margin: 30px 0 0 5%;
  width: 20%;
}

.new-message-form {
  margin-left: 20%;
  width: 60%;
}

#text-message {
  color: $white-color;
}

#message-sent-box {
  margin: 30px 0 0 10%;
  width: 80%;
}
